/Users/vladislavkalinichenko/NexTAgentSLM/TALC/mlx_model/
/Users/vladislavkalinichenko/NexTAgentSLM/TALC/mlx_model/consolidated.safetensors
/Users/vladislavkalinichenko/NexTAgentSLM/TALC/mlx_model/params.json
/Users/vladislavkalinichenko/NexTAgentSLM/TALC/mlx_model/tokenizer.model.v3
